allow hal_fingerprint_default fingerprint_device:chr_file ioctl;
allow hal_fingerprint_default fingerprintd_data_file:dir write;
allow hal_fingerprint_default tee_device:chr_file { ioctl open read write };
