allow hal_audio_default property_socket:sock_file write;
allow hal_audio_default rild:unix_stream_socket connectto;
allow hal_audio_default system_suspend_hwservice:hwservice_manager find;

# /efs/maxim/rdc_cal
allow hal_audio_default efs_file:file { read open };
