allow hal_light_default sysfs_graphics:file { getattr open read write };
allow hal_light_default sysfs_virtual:dir search;
allow hal_light_default sysfs_virtual:file { open write getattr };
