allow hal_audio_default efs_file:dir search;
allow hal_audio_default efs_file:file { open read };
allow hal_audio_default property_socket:sock_file write;
