allow hal_fingerprint_default fingerprintd_data_file:dir write;
allow hal_fingerprint_default tee_device:chr_file { ioctl open read write };
allow hal_fingerprint_default fingerprint_device:chr_file { ioctl open read write };
allow hal_fingerprint_default sysfs_virtual:dir search;
allow hal_fingerprint_default sysfs_virtual:file { open read };
