allow hal_sensors_default sysfs_iio:file { getattr open read };
allow hal_sensors_default sysfs_iio:lnk_file read;
allow hal_sensors_default sysfs_virtual:dir { open read search };
allow hal_sensors_default sysfs_virtual:file { read write open getattr };
allow hal_sensors_default sysfs_virtual:lnk_file read;
allow hal_sensors_default sysfs_lcd:file { open read };
allow hal_sensors_default baro_delta_factoryapp_efs_file:file { open read };
allow hal_sensors_default sysfs_input:file read;
allow hal_sensors_default sysfs_spi_writeable:file { read open write };
