allow mediacodec debugfs_ion:dir search;

# /sys/class/video4linux/video6/name
allow mediacodec sysfs:file r_file_perms;
allow mediacodec sysfs:dir { open read };