allow netd self:capability sys_module;
allow netd init:tcp_socket { setopt getopt read write };

allow netd sysfs_virtual:dir search;
allow netd sysfs_virtual:file { write open };
