# /sys/kernel/debug/mali/mem
# allow system_server debugfs:dir { open read };
# allow system_server debugfs:file { open read };

# /dev/mali0
allow system_server gpu_device:chr_file { ioctl read write };

# memtrack HAL
allow system_server debugfs:dir r_dir_perms;
allow system_server debugfs_mali:dir r_dir_perms;
allow system_server debugfs_mali:file r_file_perms;
