# /dev/mali0
allow system_server gpu_device:chr_file { ioctl read write };

# memtrack HAL
allow system_server debugfs_mali:dir r_dir_perms;
allow system_server debugfs_mali:file r_file_perms;
allow system_server debugfs_ion:file { getattr open read };
allow system_server debugfs_mali_mem:file { getattr open read };

allow system_server frp_block_device:blk_file { getattr ioctl open read write };
allow system_server vendor_radio_prop:file { getattr open read };
